body{
    background-color: #020469;
    color: rgb(253, 253, 253)
}
.cabecalho {
    background-color: #383D58;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;

}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

  .formula{ 
    width: 10%;
    height: 40%;
  }
  .escola-imagem{
    width: 25%;
    
  }
  .guilherme {
    width: 288px;
  }
  .raquel {
    width: 192px;
  }
  .rafael {
    width: 162px;
  }
  .gabi {
    width: 162px;
  }
  .jose {
    width: 302px;
  }
  .gustavo {
    width: 265px;
  }